 *
 { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
 body{

display: flex;
 justify-content: center;
align-items: center;
min-height: 100vh;
background: radial-gradient( #555, #292929);
 }
 
 label{
    position: relative;
    width: 300px;
    height: 150px;
    background: #000;
    box-shadow: 0 0 0 4px #000;
    border-radius: 75px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
 }
label input{
    appearance:none;
}


label span{
    position: absolute;
    left: 0;
     width: 170px;
     height: 150px;
     background: url(coffee_02.png);
     background-size:  auto 150px;
     background-repeat: no-repeat;
     transition: 2s;
     border-radius:  100%;
transform: rotate(-180deg);
transform-origin:80px ;
}
label input:checked ~ span{
   left: 150px;
   background: url(coffeeeee_01.png.jpg);
     background-size:  auto 150px;
     transform: rotate(360deg);
}
label text{
   position: absolute;
   top: 50px;
   left: -100px;
   font-family: consolas;
   color: #fff;
   font-size: 3em;
   filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 35px #fff);
   transition: 1.5s;
}
label input:checked~text{
   color: #8f8f8f;
   filter: none;
}
label text:last-child{
   position: absolute;
   left: inherit;
   right: -100px;
   
}
label input:checked~tex:last-child{
   color: #fff;
   filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 35px #fff);
   transition: 1.5s;
}
